#grid{
    background-color: white;
    margin: 7px;
    border-radius: 2%;
    box-shadow: 2%;
}
#submButton{
    background-color: transparent;
    border: transparent;
    margin-top: -63px;
    color: gray;
    margin-left: 1050px;
    outline: none;
    box-shadow: none;
}

#title{
    margin-top: 7px;
}

#container{
    margin-top: 50px;
}

#inline{
    display: inline;
}

#margin8{
    margin: '8px'
}
#marginBottom8{
    margin-bottom: '8px'
}

#width96p{
    width: "96%"
}

#margin0{
    margin: "0px"
}

#marginBottom1{
    margin-bottom: "1px";
}
#block{
    display: block;
}

#marginTop0{
    margin-top: 0px;
}

#marginBottom0{
    margin-bottom: "0px";
}

#margin4{
    margin: "4px";
}

#backgroundColor{
    background-color: "#E9ECEF";
}